<Page::Header @title="Customers" />
<Page::Content>
  <div class="d-flex justify-content-between align-content-center mb-3 form-inline">
    <h5 class="card-title">
      {{this.sortedCustomers.length}} Results
    </h5>
    <div>
      <select class="form-control" {{on "change" this.updateSortProperty}}>
        {{!-- To sort by last name and then first name in the table --}}
        <option value="sortedFullName" selected={{eq this.sortProperty "sortedFullName" }}>
          Sort by name
        </option>
        <option value="budget" selected={{eq this.sortProperty "budget" }}>
          Sort by budget
        </option>
      </select>
    </div>
  </div>
  {{!-- To use customers component and name this.sortedCustomers model customers --}}
  <Customers @customers={{this.sortedCustomers}} />
  {{!-- <label>
    <span>Search customers</span>
    <input>
  </label>
  <div class="card">
    <CustomersTable @model={{this.sortedCustomers}} />
  </div> --}}
</Page::Content>